<%- include("./partials/header") %>
<form action="/" method="POST">
    <label for="">Username</label>
    <input type="text" placeholder="name" name="username"><br><br>
    <label for="">Email</label>
    <input type="email" placeholder="Email" name="email"><br><br>
    <button>Submit</button>
</form>
<%- include("./partials/footer") %>